body{
    background-color: rgb(7, 121, 7);
}

#state_text{
    text-align: center;
}
#tehai_parent{
    position: relative;
}
#tehai, #tehai_makeprob{
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}
#tehai{
    z-index: 1;
}
#tehai_makeprob{
    z-index: 0;
}

#select_table{
    padding-top: 100px;
    margin: 0 auto;
    border-spacing: 130px 50px;
}
.select_cell{
    cursor: pointer;
}

.btnlist{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.btn_part{
    width: 200px;
    height: 50px;
    margin:0 20px;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    display: table;
    user-select: none;
}
.btn_part:hover{
    background-color: rgb(150, 150, 150);
}
.btn_label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#btnlist_makeprob{
    display: none;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    background-color: #f4f4f4;
    margin: 15% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}
.modal_header{
    background-color: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}
.modal_close{
    font-size: 2rem;
}
.modal_close:hover{
    cursor: pointer;
}
.modal_body{
    padding: 10px 20px;
    color: black;
}

#label_checkbox_maxhai{
    display: block;
    margin: auto 0 0 30px;
}
#checkbox_maxhai{
    transform: scale(1.5);
    margin-left: 10px;
}

#haishu_radios{
    text-align: center;
    margin: 20px 0;
}
.haishu_radio{
    display: none;
}
.haishu_radio:checked + label img{
    background-color: orange;
}
.haishu_radio_image{
    margin: 3px;
    padding: 8px;
}

.marker_parts{
    margin: 10px 0;
}
#checkbox_marker{
    transform: scale(1.5);
    margin-left: 10px;
}
#color_marker{
    margin-left: 10px;
}

#setting_jihai{
    display: flex;
    margin: 10px 0;
}
.radio_jihai{
    display: none;
}
.radio_jihai:checked + label{
    background-color: orange;
}
.label_jihai{
    margin: auto 5px;
    padding: 5px;
}
.btn_jihai{
    width: 80px;
    height: 30px;
    background-color: rgb(0, 193, 252);
    border: 1px solid rgb(0, 151, 238);
    transition: background-color 0.3s;
    display: table;
    font-weight: bold;
    user-select: none;
}
