body{
    background-color: rgb(7, 121, 7);
}

#state_text{
    text-align: center;
}
#tehai{
    display: flex;
    justify-content: center;
}
.tehai_parts{
    cursor: pointer;
}
.tehai_value{
    display: none;
}

#tehai_naki{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.naki_pais{
    display: flex;
    margin: 0 20px;
    cursor: pointer;
}

#select_table{
    margin: 0 auto;
}
.table_pai{
    cursor: pointer;
}

.btnlist{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.btn_part{
    width: 170px;
    height: 50px;
    margin:0 10px;
    background-color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 141, 223);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor:pointer;
}
.btn_part:hover{
    background-color: rgb(0, 130, 206);
}

#output_screen{
    display: none;
    animation-name: screenopen;
    animation-duration: 1s;
}
@keyframes screenopen {
    from {opacity: 0;}
    to {opacity: 1;}
}
#output_header{
    display: table;
    width: 63.5%;
}
#output_screen_p{
    display: table-cell;
    text-align: center;
}
#hantei_result_p{
    font-size: 35px;
    color: #e7e7e7;
}
#btn_backtoinput{
    display: table-cell;
    text-align: left;
    width: 170px;
    height: 50px;
    margin:20px 0 20px 20px;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(39, 39, 39);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    color: #f0f0f0;
    cursor:pointer;
}
#btn_backtoinput:hover{
    background-color: rgb(53, 53, 53);
}
#tehai_result{
    display: flex;
    justify-content: center;
}
#tensuu_result{
    background-color: #e7e7e7;
    text-align: center;
    font-size: 25px;
}
#result_tables_div{
    display: flex;
    justify-content: center;
}
#fusuu_table_div{
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}
.result_tables{
    border-collapse: collapse;
    width: 500px;
    font-size: 20px;
}
.result_tables td, th{
    background-color: #e7e7e7;
    border: 0.5px solid black;
    text-align: center;
}
.result_tables td.width15{
    width: 15%;
}

.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}
.modal_header{
    background-color: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}
.modal_close{
    font-size: 2rem;
}
.modal_close:hover{
    cursor: pointer;
}
.modal_body{
    padding: 10px 20px;
    color: black;
}
.btnlist_modal{
    text-align: center;
}
.btn_modal{
    font-size: 30px;
    padding: 0 30px;
    cursor:pointer;
    margin: 0 10px;
}
#btn_bakaze_ton{
    display: none;
}
#btn_jikaze_ton{
    display: none;
}
